<p> Cheesecake is a method to organize your favorite recipes. </p>
<p> Use Cheesecake to keep track of where these recipes are on the 
    internet and what ingredients are needed for each recipe. </p>
<p> <%= link_to 'Go to index of recipes...', 'recipes' %> </p>
